@font-face {
    font-family: bellaboo;
    src: url(../font/Bellaboo.woff2.ttf);
}
@font-face {
    font-family: cartoonist;
    src: url(../font/cartoonist_kooky.ttf);
}
@font-face {
    font-family: Balmy;
    src: url(../font/Balmy.ttf);
}

@font-face {
    font-family: lemonmilk;
    src: url(../font/Lemon__Milk\ light\ 300.otf);
}

body {
    background-color: #ff5901;
}

.hero-sec {
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.below-img {
    position: absolute;
    bottom: 0;
    background-image: url(../images/landing/hero-bg.png);
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index: -9;
    height: inherit;
}

.below-img img {

    width: 50%;
}

.man-img {
    /* width: 37%;
    position: absolute;
    bottom: 0;
    z-index: -99;
    right: 0; */

}

.man-img img {
    /* width: 37vw !important; */
    width: 87vh;
    position: absolute;
    bottom: -100px;
    z-index: -99;
    right: 30px;

    /* width: 100%; */

}
 .hero-heading h1 {
    color: black;
   font-family: 'Carter One', cursive !important;
   font-size: 5.5vw; 
   line-height: 12vh;
   text-align: center;
   
}
.hero-heading .desk-for{
    font-family: 'Carter One', cursive !important;

}

.content-area {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 3.5vw 6vw;
}
.containerer{
    max-width: 90%;
    margin: 0 auto;
}
.orange-btn {

    font-size: 3vw;
    background-color: black;
    color: #ff5901;
    outline: none;font-family: 'Montserrat', sans-serif;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bolder;
    padding: 8px 20px;
    box-sizing: border-box;
}

.btn-container {
    width: fit-content;
    margin: 0 auto;
    margin-top: 0vh;
}

.btn-container h3 {
    color: #000000;
    font-size: 1.2vw;
    line-height: normal !important;
    margin-top: 10px;
    font-weight: 800;
 text-shadow: none !important;

    font-family: 'Montserrat', sans-serif !important;

    text-align: center;
}

.menu-sec {
    /* min-height: 100vh; */
    background-color: #00D134;
}
.alter-nat{
    color: #00D134!important;
    font-size: 2.5vw;
}
.smaller{
    font-size: 2vw !important;
}
.abs-man {
    position: absolute;
    bottom: -77px;
    left: 10px;
    width: 350px;
}
.menu-sec {
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column; */
    padding: 40px 0;
}

.menu-head {
    position: relative;
    margin: 0 auto;
    width: fit-content;
}

.menu-head h1 {
    font-family: 'Carter One', cursive !important;
    text-align: center;
    font-size: 4rem;
    color: black
}

.food-carousel .food-card .details h2 {
    font-weight: 800;
}


.menu-head .left-ico {
    position: absolute;
    left: -40px;
    top: -35px;
    z-index: -9;
}

.menu-head .right-ico {
    position: absolute;
    right: -51px;
    top: -35px;
    z-index: -9;
}

.left-ico img, .right-ico img {
    width: 80px;
}

/* .slick-prev, .slick-next {
    display: none !important;
} */

.food-carousel {
    margin-top: 40px;
}

.text-center {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px !important;
}

.orange-text {
    color: #ff7b1b;
}

.video-sec {
    padding: 60px 50px 30px 30px;
    position: relative;
}

.flex-video {
    min-height: 100vh;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
   text-align: center;
    margin: 0 auto;
    position: relative;
}

.left-text .social-links {
    position: absolute;
    bottom: 0;
}

.text-head {
    color: black;
    text-align: center;
   font-family: 'Carter One', cursive !important;
    font-size: 3.5vw; 
    line-height: 7.5vh;
}
.hori-video{
    width: 45%;
    margin: 60px 0;
}
.custom-btn button {
    font-size: 1.6rem !important;
}
.desc-section{
    background-color: #00D134;
    padding: 50px 30px 50px 30px;

    text-align: center;
}

.desc-section h1{ 
     font-family: 'Carter One', cursive !important;
    text-align: center;
    font-size: 2.7vw;
    color: black
    

}
.mar
{
    margin-top: 30px ;
}
.custom-last{
    line-height: 3vh;
    font-size: 1.1vw;
    font-family: cartoonist !important;
}
.slick-track {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.right-video video {
    width: 320px;
}

.left-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.orange-font {
    color: #ff7b1b;
    font-family: 'Public Sans', sans-serif;
}

.social-ul {
    padding: 0;
    display: flex;
    flex-direction: row;
}

.social-ul a {
    margin: 5px 0px;
}

.social-ul a li {
    list-style: none;
}

.social-ul a li img {

    width: 40px;
}

.challenge-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}

.challenge-head {
    color: #ff7b1b;
    font-family: 'Archivo Black', sans-serif !important;
    font-size: 4.5rem;
    line-height: 65px;

}

.green {
    font-family: 'Archivo Black', sans-serif !important;
    color: #00bf63;
}

.challenge-sec {
    position: relative;
    padding: 50px 20px 30px 20px;
}

.cursive {
    font-family: bellaboo;
    color: #c74d1d;
    font-size: 3rem;
}

.challenge-right {
    text-align: center;
}

.challenge-right img {
    width: 320px;
    text-align: right;
}

.challenge-desc {
    font-family: lemonmilk;
    color: #ff7b1b;
    font-size: 16px;
    margin-top: 40px;
    width: 370px;
    text-align: center;
}

.chance-green {
    font-family: lemonmilk !important;
    color: #00bf63;
}

.gosht {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -10px;
    z-index: -9;
}
.mbl-for{
    display: none;
}
.gosht img {

    width: 320px;
}

.challenge-img img {

    width: 480px;
}
.log2{
    width: 80%;
}
 .mbl-text{
        display: none;
    }
    .log{
        width: 100%;
    }
.challenge-img {
    position: absolute;
    bottom: 0;
    left: 100px;
    margin-bottom: -8px;
    z-index: 0;
}
.flex-center{
    display: flex;
    justify-content: center;
}
.food-carousel .food-card{
    width: 25%;
}
/* */
.mbl-only {
    display: none;
}
.mbl-only{
    display: none;
}
@media (max-width:1300px) {
    .hori-video {
    width: 643px;}
    .text-head {
        font-size: 2.5rem;
    }

    .man-img img {
        width: 75vh;


    }

    .hero-heading h1 {
        font-size: 4rem;
        line-height: 86px;
    }

    .orange-btn {
        font-size: 2.2rem;

    }

    .btn-container h3 {
        font-size: 0.8rem; 
    }

    .btn-container {
        margin-top: 00px;
    }
}

@media (max-width:1100px) {
    .challenge-head {
        font-size: 4rem;
        line-height: 55px;
    }

    .flex-video {
        width: 95%;
    }

    .challenge-flex {
        width: 95%;
    }

    .right-video video {
        width: 280px;
    }

    .challenge-right img {
        width: 280px;
    }

    .text-head {
        font-size: 2rem;
        line-height: 35px;
    }
    .menu-sec{
        padding-bottom: 150px;
    }
}


@media (max-width:1500px) {
    .abs-man {
    position: absolute;
    bottom: -66px;
    left: -10px;
    width: 298px;
}
}
@media (max-width:1050px) {
    .smaller{
        font-size: 1.5rem !important;
        margin-top: 30px !important;
    }
.desc-section h1{
    font-size: 30px;
}

.custom-last{
    font-size: 18px;
}
    .menu-head h1 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .left-ico img, .right-ico img {
        width: 66px;
    }
}

@media (max-width:1024px) {

    /* .slick-prev, .slick-next {
        display: inline !important;
    } */
    .slick-track {
        display: block;

    }

    .slick-next {
        right: 30px;
    }

    .food-carousel .slick-prev {
        left: 15px !important;
        z-index: 1;
    }

    .slick-slide {
        padding-left: 40px;
        padding-right: 40px;
    }

    .challenge-head {
        font-size: 3.5rem;
    }
}


@media (max-width:900px) {
    .menu-sec{
        padding-bottom: 200px;
    }
    .hero-heading h1 br{
        display: none;
    }
    
    .hero-heading h1 {
        width: 430px;
    font-size: 3rem;
    line-height: 63px;

}
.flex-center{
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.food-carousel .food-card{
    width: 75%;
}
}
@media (max-width:768px) {
    .desk-text{
        display: none;
    }
    .mbl-text{
        display: block;
    }
     .menu-sec{
        padding-bottom: 200px !important;
    }
.abs-man {
    position: absolute;
    bottom: -56px;
    left: 0;
    width: 255px;
}
.menu-sec .orange-btn{
    font-size: 1.8rem !important;
}
    .btn-container{
        margin: 0;
    }
    .btn-container.text-center{
margin: 0 auto !important;
margin-top: 50px !important;
    } 
    .hero-heading h1{
        width: auto;
    }
  
    .desk-for{
        display:  none;
    }
    .man-img img{
        right: -95px;
    }
    .flex-video {
        flex-direction: column;
    }
.flex-center{

gap: 30px;
}
    .mbl-for{
        display: block;
    }

    
.custom-last{
    font-size: 16px;
}
    .right-video {
        margin-top: 15px;
        text-align: center;
    }

    .right-video video {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 100px !important;
    }

    .left-text .social-links {

        text-align: center;
        margin: 0 auto;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .social-ul {
        justify-content: center;
    }

    .right-toggle {
        text-align: right;
    }

    .man-img img {
        width: 600px;
    }

    .slick-slide {
        padding-left: 10px;
        padding-right: 10px;
    }

    .mbl-only {
        display: block;
    }

    .left-ico {
        left: -45px !important;
        top: 51px !important;
    }

    .right-ico {
        top: 51px !important;
    }

    .video-sec {
        padding: 40px 15px;
    }

    .challenge-flex {
        flex-direction: column;
    }
    .video-sec .btn-container{
        margin: 0 auto;
    }
    .btn-container{
        margin: 0;
    }
.mbl-only{
    display: block;
    width: 300px;
    margin: 40px auto;
}
.text-head{
    width: 300px ;
    margin: 0 auto;
}
.flex-video{
    min-height: auto;
}
    .desk-only {
        display: none;
    }

    .challenge-right {
        margin-top: 15px;
    }

    .challenge-desc {
        font-family: lemonmilk;
        color: #ff7b1b;
        font-size: 16px;
        margin-top: 11px;
        margin-left: auto;
        width: 370px;
        margin-right: auto;
        text-align: center;
    }

    .challenge-right .btn-container {
        margin-top: 10px !important;
    }

    .challenge-right .btn-container .orange-btn {
        padding: 5px 45px !important;
    }

    .challenge-sec {
        padding-top: 0 !important;
    }

    .challenge-img img {
        width: 380px;
    }

    .challenge-img {
        left: 160px;
    }

    .challenge-sec {
        padding-bottom: 224px;
    }
    .desc-section h1{
        color: white;
    }

    .challenge-img {
        z-index: -5;
        left: 0;
        right: 0;
        text-align: center;
    }
}

@media (max-width:650px) {
    .food-carousel .food-card{
        width: 66%;
    }
      .mbl-for {
    display: block;
    width: 400px;
}
.content-area {
  
    padding: 0px 10px;
}
 
    .cursive {
        font-size: 2.5rem;
    }

    .menu-sec {
        padding: 50px 0 40px 0;
    }

    .right-video video {
        width: 100%;
    }

    .text-head {
        font-size: 1.5rem;
        line-height: 25px;
    }

    /* .slick-prev.slick-arrow,
    .slick-next.slick-arrow{
        width:35px
    } */
    .food-carousel .slick-prev {
        left: 26px !important;
    }

    .food-carousel .slick-next {
        right: 26px !important;
    }

    .hero-heading h1 {
        font-size: 4rem;
        line-height: 60px;
    }

    .btn-container {
    margin:  0 ;

    }
.hero-heading{
    margin-top: 10px;
    margin-left: 20px;
}
    .below-img {
        height: 70%;
    }

    .menu-sec .orange-btn {
        font-size: 1.7rem !important;
    }

    .man-img img {
        right: -60px;
    }

    .man-img img {
        width: 346px;
        bottom: 43px;
    }

    .orange-btn {
        font-size: 2.4rem;
    }
    .btn-container h3 {
    font-size: 0.8rem;
}
.mbl-for {
    width: 300px;
}.hero-heading h1{
    line-height: 40px;
}
.orange-btn {
    font-size: 1.5rem; 
}
.man-img img {
    width: 481px;
    bottom: -3px;
    right: -81px
}

}

@media (max-width:550px) {
    .man-img img{
        width: 56vh;
    }
    .custom-last{
    font-size: 14px;
}
    .desc-section h1{
        font-size: 25px;
    }
   
    /* .orange-btn{
        font-size: 1.7rem;
        margin-top: -10px;
    } */
}
@media (max-width:480px) {
    .desc-section h1{
        font-size: 20px;
    }
    .desc-section{
        padding: 50px 10px;
    }
    .challenge-head {
        font-size: 3rem;
        line-height: 45px;
    }

    .cursive {
        font-size: 2rem;
    }

    .challenge-right img {
        width: 250px;
    }

    .challenge-right .btn-container .orange-btn {
        padding: 5px 35px !important;
    }

    .challenge-desc {

        font-size: 14px;

        width: 320px;
    }
    .custom-last{
        font-size: 12px;
    }
    .man-img img{
        width: 53vh;
        right: -64px;
    }
}

@media (max-width:450px) {
    .content-area{
        padding: 0;
    }
    .mbl-for{
        width: 280px;
    }
    .orange-btn{
        font-size: 1.8rem;
    }
    .btn-container h3{
        font-size: 0.8rem;
    }
   .man-img img {
    width: 52vh;
    bottom: 19px;
    right: -75px;
}
.log2{
    width: 90%;

}
.hero-heading{
    margin-top: 20px;
}

}
@media (max-width:400px) {
    .cursive {
        font-size: 29px;
    }
      .man-img img {
    width: 48vh;
    bottom: 19px;
    right: -45px;
}

    .challenge-head {
        font-size: 2.7rem;
    }
    .desc-section h1{
        font-size: 16px;
    }
}
@media (max-width:389px) {
.hero-heading{
    /* margin-left: 10px; */
}
    .mbl-only{
        width: 250px;
    }
    .mbl-for{
        width: 270px;
    }
    
    .man-img img {
    width: 53vh;
    bottom: -19px;
}
.orange-btn{
    font-size: 1.8rem;
}
.hero-sec{
    padding-top: 70px !important;
}
.btn-container h3{
    font-size: 0.7rem;
}
}